body {
    font-family: "Acumin Pro", sans-serif;
    font-weight: 400;
    font-size: $font-md;
    background: $light-sand;
    color: $grey;
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-size: 120px;
    color: $light-sand;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
    z-index: 2;
}
.lb_container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

