html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background: #fffaee;
  color: #252322;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 120px;
  color: #fffaee;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  z-index: 2; }

.lb_container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto; }

.lb_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 64px; }

#logo-svg.active .logo-path {
  fill: #000; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700; }

.lb_flexbox {
  display: flex;
  align-items: center; }

.lb_flex-dC {
  flex-direction: column; }

.lb_flex-S {
  align-items: flex-start; }

.lb_flex-Sb {
  justify-content: space-between; }

.lb_mgr-md {
  margin-right: 32px; }

/* Layout */
header {
  padding: 32px;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 3; }

header.scroll {
  background: #fffaee;
  padding: 16px 32px; }
  header.scroll .lb_logo svg .lb_logo-path {
    fill: #252322; }

/* Components */
.lb_menu {
  margin-right: 32px; }
  .lb_menu ul li {
    margin-right: 32px; }
    .lb_menu ul li:last-child {
      margin-right: 0; }
    .lb_menu ul li a {
      text-decoration: none;
      color: #ffffff;
      opacity: .5; }
      .lb_menu ul li a:hover {
        opacity: 1; }

.lb_language > img {
  margin-right: 8px; }

.lb_language div a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  opacity: .5;
  height: 16px; }
  .lb_language div a:hover {
    opacity: 1; }
  .lb_language div a:first-child {
    padding-right: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.5); }
  .lb_language div a:last-child {
    padding-left: 8px; }

.lb_cover {
  position: relative;
  background: #252322;
  height: 752px;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  overflow: hidden; }

.lb_dot {
  position: absolute;
  left: -128px;
  bottom: -270px;
  height: 664px;
  width: 664px;
  background: #ea212e;
  border-radius: 50%;
  z-index: 1; }

.lb_posts-list {
  padding: 128px 0; }

.lb_post-head {
  position: relative;
  display: flex; }
  .lb_post-head .lb_post-img {
    width: 100%;
    height: 340px;
    object-fit: cover; }
  .lb_post-head .lb_post-tags {
    display: inline-table;
    position: absolute;
    top: 16px;
    left: 16px; }
    .lb_post-head .lb_post-tags a {
      display: inline-flex;
      align-items: center;
      border-radius: 8px;
      background: #b0a29c;
      padding: 8px;
      text-decoration: none;
      color: #ffffff;
      height: 16px;
      margin: 0 8px 8px 0;
      font-size: 12px; }

.lb_post-body {
  background: rgba(37, 35, 34, 0.05);
  padding: 32px;
  border-radius: 8px;
  margin-top: -32px;
  margin-left: -32px;
  z-index: 2;
  position: relative;
  width: calc(100% - 64px);
  backdrop-filter: blur(8px); }
  .lb_post-body .lb_post-title {
    font-size: 24px;
    margin-bottom: 32px;
    line-height: 32px;
    font-weight: 700; }
  .lb_post-body .lb_post-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px; }
  .lb_post-body .lb_post-initial {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    background: #b0a29c; }
  .lb_post-body .lb_post-author {
    text-decoration: none;
    text-transform: capitalize;
    color: #252322; }
  .lb_post-body .lb_post-date {
    opacity: .5; }

.lb_btn {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  height: 48px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  border-top-right-radius: 0;
  cursor: pointer; }

.lb_primary-btn {
  color: #ffffff;
  background: #ea212e; }
  .lb_primary-btn:hover {
    background: #9b0f17; }

.lb_secondary-btn {
  color: #252322;
  background: #fffaee; }
  .lb_secondary-btn:hover {
    background: #b0a29c; }

.lb_read-btn {
  height: 32px;
  width: 32px;
  border-radius: 8px;
  border-top-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ea212e; }
  .lb_read-btn:hover {
    background: #9b0f17; }
