.footer {
    background: black;
    border-top: 4px solid #EA212E;
    color: white;
    padding: 54px 128px;
    &__part {
        @include flexbox;
        justify-content: space-between;
        &:first-child {
            border-bottom: 1px solid #ffffff4D;
            padding-bottom: 32px;
        }
        &:last-child {
            padding-top: 32px;
        }
    }
}
