.btn {
    @include flexbox;
    justify-content: center;
    height: 40px;
    font-weight: 500;
    padding: 0 32px;
    cursor: pointer;
    border: none;
}
.btn__red {
    color: white;
    background: #EA212E;
    &:hover {
        color: $white;
        text-decoration: none;
        background: #61D500;
    }
}