.lb_cover {
    position: relative;
    background: $grey;
    height: 720px;
    justify-content: center;
    flex-direction: column;
    color: $white;
    overflow: hidden;
}
.lb_dot {
    position: absolute;
    left: -128px;
    bottom: -270px;
    height: 664px;
    width: 664px;
    background: $bright-red;
    border-radius: 50%;
    z-index: 1;
}

