/* Layout */
header {
    padding: 32px;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
    @include md {
        flex-direction: column;
    }
    > div {
        @include md {
            flex-direction: column;
        }
    }
    
}
header.scroll {
    background: $light-sand;
    padding: 16px 32px;
    svg .lb_path {fill: $grey;}
    .lb_menu {
        ul {
            li {
                a {color: $grey;}
            }
        }
    }
}
/* Components */
.lb_logo {
    @include md {
        margin-bottom: $space-s;
    }
}
.lb_menu {
    margin-right: $space-md;
    @include md {
        margin-right: 0;
        margin-bottom: $space-xs;
    }
    ul {
        li {
            margin-right: $space-md;
            &:last-child {margin-right: 0;}
            a {
                text-decoration: none;
                color: $white;
                opacity: .5;
                &:hover {opacity: 1;}
            }
        }
    }
}
