header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 128px;
    height: 80px;
    background: black;
    border-bottom: 1px solid #ffffff4D;
    > div {
        display: flex;
        align-items: center;
    }
}
