.lb_cover-post {
	position: relative;
	height: 560px;
	background-image: url("../images/noise.png");
	overflow: hidden;
	@include lg {
		height: auto;
		padding-top: $space-xl;
		padding-bottom: $space-xl;
	}
	@include md {
		z-index: 2;
	}
	> div {
		position: relative;
		z-index: 3;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.lb_cover-img {
		height: 560px;
		width: 100%;
		object-position: 50% 20%;
		object-fit: cover;
		position: absolute;
		z-index: 1;
		opacity: 0.15;
		top: 0;
	}
	.lb_cover-title {
		font-family: "Space Mono", sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 64px;
		margin-bottom: $space-md;
		line-height: 80px;
		color: $light-sand;
		@include sm {
			font-size: 48px;
			line-height: 56px;
		}
	}
	.lb_cover-thumb {
		width: $size-lg;
		height: $size-lg;
		border-radius: 50%;
		margin-right: $space-xs;
	}
	.lb_cover-initial {
		width: $size-md;
		height: $size-md;
		border-radius: 50%;
		margin-right: $space-xs;
		background: $dark-sand;
	}
	.lb_cover-author {
		text-decoration: none;
		text-transform: capitalize;
		color: $light-sand;
		font-size: 24px;
	}
}
.lb_content-post {
	padding: $space-lg 0;
	ul,
	ol {
		padding-left: $space-s;
		margin-top: $space-xs;
		margin-bottom: $space-s;
		list-style: initial;
	}
	a {
		color: $bright-red;
		text-decoration: none;
		&:hover {
			color: $dark-red;
		}
	}
	details {
		margin-top: $space-md;
		margin-bottom: $space-md;
	}
	.quoteblock {
		font-size: 1.3em;
		font-style: italic;
		background: #f8efdd;
		line-height: 1.521739em;
		padding: 24px 24px 24px 64px;
		float: left;
		color: #9b0f17;
		border-radius: 24px;
		margin: 24px 0;
		&:before {
			content: " “ ";
			font-family: serif;
			font-size: 3.5em;
			float: left;
			margin-left: -0.62em;
			margin-top: 0.23em;
		}
	}
	.listingblock {
		.title {
			margin-top: $space-s;
			margin-bottom: $space-s;
		}
		.content {
			pre {
				color: #abb2bf;
				background: #282c34;
				padding: 1em;
				border-radius: 10px;
				line-height: 24px;
			}
		}
	}
	#preamble {
		margin-bottom: $space-lg;
	}
	.sect1 {
		margin-bottom: $space-lg;
		.admonitionblock {
			background: $sand;
			border-radius: 32px;
			padding: $space-md;
			margin-top: $space-s;
			margin-bottom: $space-s;
		}
		table {
			.icon {
				width: 16%;
			}
			.content {
				line-height: 24px;
			}
		}
	}
	.sect2 {
		margin-bottom: $space-lg;
	}
	p {
		font-size: 20px;
		line-height: 32px;
	}
	.imageblock {
		margin-top: $space-s;
		background: #f8efdd;
		padding: 16px;
		border-radius: 24px;
		border-top-right-radius: 0;
		position: relative;
		margin-bottom: $space-md;
		display: flex;
		align-items: center;
		flex-direction: column;
		.content {
			display: flex;
			justify-content: center;
			margin-bottom: 16px;
			img {
				border-radius: 16px;
				border-top-right-radius: 0;
			}
		}
		.title {
			font-style: italic;
		}
	}
	img {
		width: 90%;
	}
	code {
		line-height: 28px;
	}
	pre {
		margin-top: $space-s;
		margin-bottom: $space-s;
		overflow-x: auto;
	}
}
