// Flexbox
.lb_flexbox {@include flexbox;}
.lb_flex-dC {flex-direction: column;}
.lb_flex-S {align-items: flex-start;}
.lb_flex-Sb {justify-content: space-between;}

// Space
.lb_mgr-md {margin-right: $space-md;}