// Colors
$dark-red: #9b0f17;
$red: #ae151e;
$bright-red: #ea212e;
$grey: #252322;
$dark-sand: #b0a29c;
$sand: #f8efdd;
$light-sand: #fffaee;
$white: #ffffff;

// Font-size
$font-md: 1rem;

// Border
$border-radius: 8px;

// Size
$size-xs: 8px;
$size-s: 16px;
$size-md: 32px;
$size-lg: 64px;
$size-xl: 128px;

// Space
$space-xs: 8px;
$space-s: 16px;
$space-md: 32px;
$space-lg: 64px;
$space-xl: 128px;
