body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #292929;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}
.subtitle {
    font-size: 16px;
    color: #8d8d8d;
    margin-bottom: 32px;
}