@()
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <img class="logo-lunatech-footer" src="@routes.Assets.versioned("images/logo-lunatech-france.png")">
        </div>
      </div>
        <div class="row">

            <div class="col-md-3">
                  <h3>Lunatech NL</h3>
                  <ul>
                  <li>Amsterdam</li>
                  <p class="footer-adress">Van Leijenberghlaan 197<br /><span>1082 EA Amstedam,<br /> The Netherlands</span></p>
                  <li>Rotterdam</li>
                  <p class="footer-adress">Hofplein 20<br /><span>3032 AC Rotterdam,<br /> The Netherlands</span></p>
                  </ul>

            </div>
            <div class="col-md-3">

                  <h3>Lunatech FR</h3>
                  <ul>
                  <li>Paris</li>
                  <p class="footer-adress">3 Rue de la Galmy<br /><span>77700 Chessy,<br /> France</span></p>
                  </ul>
            </div>
            <div class="col-md-3">

                  <h3>Lunatech BE</h3>
                  <ul>
                  <li>Brussels</li>
                  <p class="footer-adress">Avenue Louise 54
                   <br /><span>1050 Brussels,<br /> Belgium</span></p>
                  </ul>
            </div>
            <div class="col-md-3">
                <h3>Follow-us</h3>
                <form class="form-inline validate" action="https://lunatech.us6.list-manage.com/subscribe/post?u=cf40d3fd9a5ebdb6782320c8d&amp;id=5af5a45e75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <i class="far fa-envelope-open i-nl"></i>
                    <input type="email" value="" name="EMAIL" class="form-control form-control-custom email required" id="mce-EMAIL" placeholder="Enter email">
                    <button type="submit" class="btn btn-custom2" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Register</button>
                </form>
                <div class="footer-social">
                    <a href="https://twitter.com/lunatechlabs"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/lunatech-research"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/lunatech-labs"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/lunatech_nl"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-12">
                <p class="footer-reserved">2021 © Lunatech</p>
            </div>
        </div>
    </div>
</footer>