@()
<footer class="footer">
    <div class="footer__part">
        <a class="logo-letter" href="/"><img src="@routes.Assets.versioned("images/logo-lunatech-letter.svg")"></a>
        <div class="social">
            <a class="social__link" href="https://www.linkedin.com/company/lunatech-research"><img src="@routes.Assets.versioned("images/linkedin.svg")"></a>
            <a class="social__link" href="https://twitter.com/lunatechlabs"><img src="@routes.Assets.versioned("images/twitter.svg")"></a>
            <a class="social__link" href="https://github.com/lunatech-labs"><img src="@routes.Assets.versioned("images/github.svg")"></a>
            <a class="social__link" href="https://www.instagram.com/lunatech_nl"><img src="@routes.Assets.versioned("images/instagram.svg")"></a>
            
        </div>
    </div>
    <div class="footer__part">
        <p>© 2022 Lunatech. All rights reserved.</p>
        <div class="flexbox">
            <div class="stats">
                <p class="stats__text">14<span>contributors</span></p>
                <span class="stats__line"></span>
                <p class="stats__text">113<span>posts</span></p>
            </div>
            <a class="logo-visual" href="/"><img src="@routes.Assets.versioned("images/logo-lunatech-visual.svg")"></a>
        </div>
    </div>
</footer>
  