@()
<header class="header">
    <div class="header__part">
        <a class="logo-full" href="/"><img src="@routes.Assets.versioned("images/logo-lunatech-full.svg")"></a>
        <a class="link" href="https://lunatech.com/">Official website</a>
    </div>
    <div class="header__part">
        <a class="link" href="#">Categories</a>
        <form class="searchbar">
            <input class="searchbar__input" type="text" placeholder="What can I help you with today?">
            <span class="searchbar__icon material-symbols-outlined">search</span>
        </form>
        <a class="btn btn__red" href="https://recruitment.lunatech.com/">Join us</a>
    </div>
</header>
