@()

<header class="header">
    <a class="logo-full" href="/"><img src="@routes.Assets.versioned("images/logo-lunatech-full.svg")"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <div class="header__menu">
        <p class="header__title">Menu</p>
        <a class="link" href="https://lunatech.com/">Official website</a>
        <nav class="header__nav">
            <a class="link" href="#">Categories</a>
            <form class="searchbar">
                <input class="searchbar__input" type="text" placeholder="What can I help you with today?">
                <span class="searchbar__icon material-symbols-outlined">search</span>
            </form>
            <a class="btn btn__red" href="https://recruitment.lunatech.com/">Join us</a>
        </nav>
    </div>
</header>




