@(title: String, extraHeader: Option[String] = None)
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@title</title>
    @extraHeader.map(metaContent => Html(metaContent)).getOrElse("")
    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/main.css")">
    <link rel="alternate" type="application/rss+xml" title="Lunatech Blog » Feed" href="https://blog.lunatech.com/feed/">
</head>