@(headerImageUrl: String, posts: Seq[Post], blogsPerPage: Int)
@import org.joda.time.{ DateTime, DateTimeZone }

@main(id = "blog", title = Some("Lunatech's engineer blog"), extracss = None, headerImage = Some(headerImageUrl)) {
}{
    <section class="blog-section">
        <div class="container-fluid">
            <div class="row">   
            @posts.map { post =>
                <div class="col-xs-12 col-sm-4 no-pad">
                    <div class="blog-section-info zoom">
                        <figure class="figure-image">
                            <div class="blog-background"></div>
                            <img src="@post.mainImage" onerror="imgError(this)" alt=""/>

                            <div class="figure-content">
                                <h3>@post.title</h3>

                                <p class="figure-content-date">@post.publicationDate.toString("dd MMM yyyy")</p>
                                <p class="figure-content-author">
                                    by @post.author.map(_.name.getOrElse(post.authorName)).getOrElse(post.authorName)
                                </p>
                            </div>

                            <div class="figure-content-overlay">
                                <h3>@post.title</h3>

                                <a class="btn btn-custom3" href="@post.slug" role="button">
                                    Read more</a>
                            </div>
                        </figure>
                    </div>
                </div>
            }
        
            </div>
            <div class="row" id="content">  
                
           </div>
            <div class="row">
                <div style="padding-top: 20px;padding-bottom: 20px;display: block;margin:auto;"><button id="load" class="btn btn-custom3">Load more</button></div>
        
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" integrity="sha256-lrZTgsdM1iVdRigETFOU8u8/BmLX1ysQ8bzrULbuVFU="
    crossorigin="anonymous"></script>
    <script>
        // we will add this content, replace for anything you want to add
       
        var btn = document.getElementById("load")
        var content = document.getElementById("content")
        var page = 2
        var perPage = @blogsPerPage

        // cross browser addEvent, today you can safely use just addEventListener
        function addEvent(obj,ev,fn) {
          if(obj.addEventListener) obj.addEventListener(ev, fn, false)
          else if(obj.attachEvent) obj.attachEvent("on" + ev, fn) 
        }
        
        async function fetchPosts() {
            const posts = []
            let state = {
                posts: [],
                baseUrl: '/posts/',
                perPage: '?per_page=' + perPage
            }
            const post = axios.get(`${state.baseUrl}${state.perPage}&page=` + page)
            posts.push(post)
            

            await axios.all(posts).then((response) => {
                const postData = response.map(res => res.data)
                state.posts = postData.flat()
            }).catch(e => console.log('error fetching posts: ', e))

            return state.posts
        }

          // this is the scroll event handler
        function loadContent() {
          // print relevant scroll info
          const posts = 
            fetchPosts().then((posts) => {
                page = page + 1
                if (posts.length == 0 || posts.length < perPage) {
                    btn.remove()
                }
                for (const post of posts) {
                    var more = '<div class="col-xs-12 col-sm-4 no-pad"><div class="blog-section-info zoom"><figure class="figure-image"><div class="blog-background"></div><img src="'+ post.image_url 
                    + '" onerror="imgError(this)" alt=""/> <div class="figure-content"><h3>'+ post.title +'</h3><p class="figure-content-date">'
                    + post.publication_date + '</p><p class="figure-content-author"> by ' + post.author + ' </p>  </div> <div class="figure-content-overlay"> <h3>' + post.title 
                    + '</h3> <a class="btn btn-custom3" href="' + post.slug + '" role="button">   Read more</a> </div></figure></div> </div>'
                    content.innerHTML += more
                }
            })
          
        
        }
      
        function imgError(image) {
            image.onerror = "";
            image.src = "@headerImageUrl";
            return true;
        }
            // hook the scroll handler to scroll event
        addEvent(btn, "click", loadContent);

      </script>
}
