@(headerImageUrl: String, previews: Seq[PostPreview])
@import org.joda.time.{ DateTime, DateTimeZone }

@main(id = "blog", title = Some("Lunatech's engineer blog"), extracss = None, headerImage = Some(headerImageUrl)) {
}{
    <section class="blog-section">
        <div class="container-fluid">
            <div class="row">
              @**
               * TODO: Should be paginated
               **@
            @previews.slice(0, 24).map { preview =>
                <div class="col-xs-12 col-sm-4 no-pad">
                    <div class="blog-section-info zoom">
                        <figure class="figure-image">
                            <div class="blog-background"></div>
                            <img src="@preview.imageUrl" alt=""/>

                            <div class="figure-content">
                                <h3>@preview.title</h3>

                                <p class="figure-content-date">@preview.date.toString("dd MMM yyyy")</p>
                                <p class="figure-content-author">
                                    by @preview.author
                                </p>
                            </div>

                            <div class="figure-content-overlay">
                                <a class="btn btn-custom3" href="@preview.slug" role="button">
                                    Read more</a>
                            </div>
                        </figure>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>
}
