@(id: String, title: String, extracss: Option[String] = None, extraHeader: List[String] = List())(content: Html)
<!DOCTYPE html>
<html lang="en">
    @head(title = "Lunatech's engineer blog", extraHeader = extraHeader)
    <body>
        @header()
        <main id="target">
            <!-- Cover -->
            <div class="cover">
                <div class="cover__part">
                    <p class="cover__subtitle">Our blog</p>
                    <h1 class="cover__title">Lunatech’s<br />engineer blog</h1>
                </div>

                <div class="slider">
                    <div class="slider__group">
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char1.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char2.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char3.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char4.png")"></div>

                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char1.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char2.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char3.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char4.png")"></div> 
                    </div>

                    <div class="slider__group">
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char1.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char2.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char3.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char4.png")"></div>

                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char1.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char2.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char3.png")"></div>
                        <div class="slider__person"><img class="slider__picture" src="@routes.Assets.versioned("images/char4.png")"></div> 
                    </div>
                </div>

                <div class="circle-group">
                    <span class="circle circle-group__xs"></span>
                    <span class="circle circle-group__sm"></span>
                    <span class="circle circle-group__md"></span>
                    <span class="circle circle-group__lg"></span>
                </div>
            </div>
            <!-- Posts list -->
            @content
        </main>
        @footer()

        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-56364023-3', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- Header scroll -->
        <script>
            $(window).on("scroll", function() {
                if($(window).scrollTop() > 700) {
                    $("header").addClass("scroll");
                } else {
                    $("header").removeClass("scroll");
                }
            });
        </script>
        <script>
            var toTop = 0;
            function autoPlay1() {
                timer = setTimeout(function() {
                    var row1 = document.getElementById('slider__group1');
                    toTop = toTop - 128;

                    if (toTop < -1152) {
                        toTop = 0;
                        clearTimeout(timer);
                        row1.onmouseover = clearTimeout(timer);
                    }

                    row1.style.top = toTop +'px';
                    autoPlay1();

                }, 200);
            }
            autoPlay1();
        </script>
        <script>
            var toBottom = 0;
            function autoPlay2() {
                timer = setTimeout(function() {
                    var row2 = document.getElementById('row');
                    toBottom = toBottom + 128;

                    if (toBottom < -1152) {
                        toBottom = 0;
                        clearTimeout(timer);
                        row2.onmouseover = clearTimeout(timer);
                    }

                    row2.style.top = toBottom +'px';
                    autoPlay2();

                }, 200);
            }
            autoPlay2();
        </script>
    </body>
</html>
