@(id: String, title: Option[String] = None, extracss: Option[String] = None, extraHeader: Option[String] = None, headerImage: Option[String] = None)(headerText:Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>@title.map(txt => s"$txt")</title>
        @extraHeader.map(metaContent => Html(metaContent)).getOrElse("")
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">

            <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/custom.css")">

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        <button id="menu-button" class="menu" type="button">
          <div class="menu__item--1 dark-blue-bg"></div>
          <div class="menu__item--2 dark-blue-bg"></div>
          <div class="menu__item--3 dark-blue-bg"></div>
        </button>

        <aside class="aside-hide" id="aside">
            <nav class="nav-custom">
                <ul>
                </ul>
            </nav>
        </aside>

        <a href="#target" class="scroll-down" address="true"></a>
        <header>
            <div class="container-fluid">
                <div class="row d-flex">
                @defining(headerImage.map(url => s"background-image: url($url)")) { backImg =>
                    <div class="col-12 header-page-left" style="@backImg">
                        <div class="overlay-header"></div>
                        <a href="/"><img src="@routes.Assets.versioned("images/logo-lunatech-france.png")"></a>
                        <p>@title</p>
                        <!-- <span class="red-square"></span> -->
                    </div>
                }


                </div>
            </div>
        </header>

        <main id="target">
            @content
        </main>

        <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                    <img class="logo-lunatech-footer" src="@routes.Assets.versioned("images/logo-lunatech-france.png")">
                </div>
              </div>
                <div class="row">

                    <div class="col-md-4">
                          <h3>Lunatech NL</h3>
                          <ul>
                          <li>Amsterdam</li>
                          <p class="footer-adress">Van Leijenberghlaan 197<br /><span>1082 EA Amstedam,<br /> The Netherlands</span></p>
                          <li>Rotterdam</li>
                          <p class="footer-adress">Baan 74<br /><span>3011 CD Rotterdam,<br /> The Netherlands</span></p>
                          </ul>

                    </div>
                    <div class="col-md-4">

                          <h3>Lunatech FR</h3>
                          <ul>
                          <li>Paris</li>
                          <p class="footer-adress">3 Rue de la Galmy<br /><span>77700 Chessy,<br /> France</span></p>
                          </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Follow-us</h3>
                        <form class="form-inline validate" action="https://lunatech.us6.list-manage.com/subscribe/post?u=cf40d3fd9a5ebdb6782320c8d&amp;id=5af5a45e75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                            <i class="far fa-envelope-open i-nl"></i>
                            <input type="email" value="" name="EMAIL" class="form-control form-control-custom email required" id="mce-EMAIL" placeholder="Enter email">
                            <button type="submit" class="btn btn-custom2" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Register</button>
                        </form>
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="footer-reserved">2019 © Lunatech</p>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            // This is necessary for the edit button
            window.prismic = {
                endpoint: '//lunatech.prismic.io/api' // replace by your repository's endpoint
            };
        </script>
        <script src="//static.cdn.prismic.io/prismic.min.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-56364023-3', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!--Button scroll down header -->
        <script>
            $(document).on('click', 'a[href^="#"]', function (event) {
                event.preventDefault();

                $('html, body').animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, 500);
            });
        </script>

        <!-- BURGER MENU -->
        <script>
            $(document).ready(() => {
                $('#menu-button').click(() => {
                    let isShown = $('#aside').attr('class').split(' ').includes('aside-show');
                    if(isShown){
                        $('#aside').addClass('aside-hide');
                        $('#aside').removeClass('aside-show');
                    }
                    else{
                        $('#aside').removeClass('aside-hide');
                        $('#aside').addClass('aside-show');
                    }
                })
            })
        </script>
    </body>
</html>
