@import models._
@(post: Post)(implicit request: Request[AnyContent])
    @defining(List(
        """<meta prefix="og:http://ogp.me/ns#" property="og:type" content="article" />""",
        s"""<meta prefix="og:http://ogp.me/ns#" property="og:title" content="${post.title}" />""",
//        s"""<meta prefix="og:http://ogp.me/ns#" property="og:description" content="${post.content}" />""",
        s"""<meta prefix="og:http://ogp.me/ns#" property="og:image" content="${post.mainImage}" />""",
        s"""<meta prefix="og:http://ogp.me/ns#" property="og:article:author" content="${post.author.map(_.name.getOrElse(post.authorName)).getOrElse(post.authorName)}" />""",
        s"""<meta prefix="og:http://ogp.me/ns#" property="og:article:published_time" content="${post.publicationDate}" />""",
        s"""<meta prefix="og:http://ogp.me/ns#" property="og:url" content="https://blog.lunatech.com${request.path}" />""",
        """<meta name="twitter:card" content="summary_large_image"/>""",
        """<meta name="twitter:site" content="@LunatechLabs" />""",
        s"""<meta name="twitter:domain" content="https://blog.lunatech.com${request.path}" />""",
        s"""<meta name="twitter:title" content="${post.title}" />""",
        s"""<meta name="twitter:image" content="${post.mainImage}" />""",
//        s"""<meta name="twitter:description" content="${post.content}" />"""
    )) { socialHeaders =>
    <!DOCTYPE html>
        <html lang="en">
            @head(title = post.title, extraHeader = socialHeaders)
        <body>
            @header()
        <main id="target">

            <div id="progress-display">
                <div id="progress-over"></div>
                <div id="progress-impend"></div>
            </div>

            <div class="post">
                <div class="wrapper">
                    <div class="grid">
                        <section class="post__content">
                            <div class="author">
                                @if(post.author.nonEmpty) {
                                    <img class="author__avatar" src="@post.author.map(_.avatar_url)" alt="author image" nopin="nopin">
                                    <a class="author__text" href="@routes.HomeController.byAuthor(post.authorName)">@post.author.map(_.name.getOrElse(post.authorName)).getOrElse(post.authorName)</a> 
                                }
                                @if(post.author.isEmpty) {
                                    <img class="author__avatar" src="@routes.Assets.versioned("images/elty.jpg")">
                                    <a class="author__text" href="@routes.HomeController.byAuthor(post.authorName)">Elty</a>
                                }
                                <span></span>
                                <p class="author__date">@post.publicationDate.toString("dd MMM yyyy")</p>
                                <span></span>
                                <div class="post__time">
                                    <p id="progress-time"></p>
                                    <p>min read</p>
                                </div>
                            </div>
                            <h1 class="post__title">@post.title</h1>
                            <div class="post__cover">
                                <img src="@post.mainImage" onerror="imgError(this)" alt=""/>
                            </div>
                            <article id="progress-measure">@Html(post.htmlContent)</article>
                        </section>
            
                        <section class="post__infos">
                            <p>Written by</p>
                            @if(post.author.nonEmpty) {
                                <img class="post__avatar-lg" src="@post.author.map(_.avatar_url)" alt="author image" nopin="nopin">
                                <a class="post__author-lg" href="@routes.HomeController.byAuthor(post.authorName)">@post.author.map(_.name.getOrElse(post.authorName)).getOrElse(post.authorName)</a> 
                            }
                            @if(post.author.isEmpty) {
                                <img class="post__avatar-lg" src="@routes.Assets.versioned("images/elty.jpg")">
                                <a class="post__author-lg" href="@routes.HomeController.byAuthor(post.authorName)">Elty</a>
                            }
                            <a href="@routes.HomeController.byAuthor(post.authorName)">See all articles</a>
                            <div class="flexbox ff-wrap">
                                @post.tags.getOrElse(Array.empty).map { tag =>
                                    <a class="post__tag" href="@routes.HomeController.byTags(tag)">@tag</a>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        @footer()

        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-56364023-3', 'auto');
                ga('send', 'pageview');
        </script>
        <!-- Header scroll -->
        <script>
                $(window).on("scroll", function () {
                    if ($(window).scrollTop() > 700) {
                        $("header").addClass("scroll");
                    } else {
                        $("header").removeClass("scroll");
                    }
                });
        </script>
        <script type="text/javascript" src="/assets/js/highlight.pack.js" )"></script>
        <script type="text/javascript" src="/assets/js/progress.js" )"></script>
        <script>
                document.querySelectorAll('pre.highlight').forEach((block) => {
                    hljs.highlightBlock(block);
                });
        </script>
    </body>
    </html>
}
