.card-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
}
.card {
    grid-column: span 4;
    text-decoration: none;
    transition: all .2s ease;
    border-radius: 8px;
    color: #292929;
    background: white;
    overflow: hidden;
    @include tablet-landscape {
        grid-column: span 6;
    }
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, .08);
        .card__cover img {
            -webkit-transform:scale(1.10); /* Safari et Chrome */
            -moz-transform:scale(1.10); /* Firefox */
            -ms-transform:scale(1.10); /* Internet Explorer 9 */
            -o-transform:scale(1.10); /* Opera */
            transform:scale(1.10);
        }
    }
    &__cover {
        height: 192px;
        width: 100%;
        overflow: hidden;
        background: white;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-transition: all 1s ease; /* Safari et Chrome */
            -moz-transition: all 1s ease; /* Firefox */
            -ms-transition: all 1s ease; /* Internet Explorer 9 */
            -o-transition: all 1s ease; /* Opera */
            transition: all 1s ease;
        }
    }
    &__infos {
        padding: 24px;
    }
    &__avatar-lg {
        height: 80px;
        width: 80px;
        border-radius: 5rem;
        margin-bottom: 16px;
    }
    &__author-lg {
        font-size: 16px;
        color: #292929;
        opacity: 0.5;
        text-decoration: none;
        &:hover {
            opacity: 1;
        }
    }
    &__title {
        color: black;
        font-size: 24px;
        font-weight: 700;
        margin: 16px 0;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}