.cover {
    @include flexbox;
    justify-content: space-between;
    background: black;
    padding: 0 128px;
    height: 784px;
    overflow: hidden;
    position: relative;
    @include tablet-landscape {
        padding: 0 64px;
        height: 500px;
    }
    @include phone {
        padding: 0 24px;
    }
    &__part {
        z-index: 1
    }
    &__subtitle {
        font-size: 32px;
        color: white;
        opacity: .5;
        @include tablet-landscape {
            font-size: 28px;
        }
        @include tablet-portrait {
            font-size: 26px;
        }
        @include phone {
            font-size: 24px;
        }
    }
    &__title {
        font-size: 96px;
        font-weight: 500;
        line-height: 112px;
        color: white;
        @include tablet-landscape {
            font-size: 64px;
            line-height: 80px;
        }
        @include tablet-portrait {
            font-size: 54px;
            line-height: 64px;
        }
        @include phone {
            font-size: 56px;
            line-height: 64px;
        }
    }
}
