.cover {
    @include flexbox;
    justify-content: space-between;
    background: black;
    padding: 0 128px;
    height: 784px;
    overflow: hidden;
    &__left {

    }
    &__right {

    }
    &__subtitle {
        font-size: 32px;
        color: white;
        opacity: .5;
    }
    &__title {
        font-size: 96px;
        font-weight: 500;
        line-height: 112px;
        color: white;
    }
}
