.post {
	padding: 64px 0;
	&__content {
		grid-column: span 7;
        @include tablet-portrait {
            grid-column: span 12;
        }
	}
	
	&__time {
		@include flexbox;
	}
	&__title {
		margin: 24px 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
	}
	&__cover {
        height: 365px;
        width: 100%;
        overflow: hidden;
        background: white;
        border-radius: 4px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}