#progress-display {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    display: none;
}
#progress-over,
#progress-impend {
    float: left;
    top: 0;
    left: 0;
    height: 4px;
    margin: 0;
    padding: 0;
}
#progress-over {
    background-color: #EA212E;
    width: 0%;
}
#progress-impend {
    background-color: black;
    opacity: .1;
    width: 100%;
}