.slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    z-index: 1;
    @include phone {
        display: none;
    }
    &__group {
        display: flex;
        flex-direction: column;
        animation: scroll 40s linear infinite;
        grid-gap: 32px;
        &:hover {
            /* animation-play-state: paused; */
        }
        &:last-child {
            animation: scroll2 40s linear infinite;
            &:hover {
                /* animation-play-state: paused; */
            }
        }
    }
    &__person {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 256px;
        height: 355px;
        background: #5E18CF;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 80px rgba(0, 0, 0, .2);
        @include tablet-landscape {
            width: 196px;
            height: 275px;
        }
        @include tablet-portrait {
            width: 136px;
            height: 200px;
        }
    }
    &__picture {
        height: 95%;
        width: auto;
        transition: transform 1s;
        &:hover {
            transform: translateZ(20px); 
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-250px * 4));
    }
}
@keyframes scroll2 {
    0% {
        transform: translateY(32px);
    }
    100% {
        transform: translateY(calc(250px * 4));
    }
}
