.tag {
    @include flexbox;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    height: 20px;
    color: #858585;
    text-transform: capitalize;
    white-space: nowrap;
    background: #f6f6f6;
    text-decoration: none;
}













.layout {
    width: 800px;
    background: #ccc;
    margin: 20px auto;
    position: relative;
}

#menu-slider-container {
    width: 100%;
    overflow: hidden;
    height: 80px;
    position: relative;
}

#menu-slider {
    list-style-type: none;
    position: relative;
    margin: 0px;
    padding: 0px;
}

#menu-slider li {
    float: left;
}

.menu-slider-link {
    display: inline-block;
    width: 150px;
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 10px 0px 10px 10px;
    height: 40px;
}

#menu-slider-prev,
#menu-slider-next {
    position: absolute;
    background: #ccc;
    padding: 10px;
    top: 20px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

#menu-slider-prev {
    left: -30px;
}

#menu-slider-next {
    right: -30px;
}